.Common-title {
    font-size: 60px !important;
    font-weight: 300 !important;
}

.Common-subtitle {
    font-size: 20px !important;
    font-weight: 300 !important;
}

.Common-padding {
    padding: 20px !important;
}

.Common-triton-color {
    background: #800000 !important;
}
