#RunDetail-capacity {
    background-color: white;
    padding: 0.5rem;
    display: inline-block;
}

#RunDetail-capacity table {
    text-align: left;
}

#RunDetail-capacity tr {
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

#RunDetail-capacity td {
    padding-right: 0.25rem;
}