.Landing-welcome {
    margin-bottom: 1px !important;
}

.Landing-user {
    margin-left: 5px !important;
}

.Landing-trident {
    float: left !important;
    margin-right: 20px !important;
}

div.logo-title-header {
    display: grid;
    grid-template-columns: 80px auto;
    align-items: end;
}
main.logo-title-onboarding-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-container {
    display: flex;
    justify-content: space-between;
    .faq-section-container{
        padding:5px;
        margin: 50px;
    }
}
